@media screen and (max-width: 768px) {

    :root {
        --sectionPadding : 50px 25px;
        --buttonPadding : 12px 20px;
        --h1HeadingFontSize : 56px;
        --h2HeadingFontSize : 40px;
        --cardHeadingFontSize : 17px;
        --paragraphFontSize: 16px;
        --h4HeadingFontSize: 30px;
    }

    .heroSection {
        flex-direction: column;
        padding: 20px 25px 20px 25px;
        border: none;
        align-items: baseline;
    }

    .heroSection .rightContainer img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        border: 2px solid #ffffff;
    }

    .heroSection .rightContainer {
        text-align: center;
        order: 1;
        margin-bottom: 20px;
    }

    .h1Heading {
        font-size: var(--h1HeadingFontSize);
        color: #fff;
        line-height: 72px;
        margin: 20px 0px;
    }

    .get-started, .view-services {
        margin: 20px 0px 0px 0px;
    }

    .heroSection .leftContainer {
        order: 2;
    }

    .topContent {
        flex-direction: column;
    }

    .card, .edu-card {
        width: 100%;
        padding: 20px;
    }

    .cards {
        flex-direction: column;
        gap:  30px 0px;
    }

    .about-us {
        flex-direction: column;
        align-items: baseline;
    }

    .education-experience .content {
        flex-direction: column;
        margin-top: 30px;
        gap: 30px 0px;
    }

    .contactFromCard {
        padding: 20px;
    }

    .contactForm, .inputGroup {
        flex-direction: column;
        gap: 30px 0px;
        align-items: baseline;
    }

    .contactFromCard, .inputField, .textarea {
        width: 100%;
    }

    .imageSection {
        width: 100%;
        overflow: visible;
        text-align: center;
    }

    .contactInfo {
        width: 100%;
    }

    .aboutImg {
        width: 90%;
        height: 90%;
    }

    .imageBeforeCircle {
        width: 369px;
        height: auto;
        left: 5px;
        top: -13px;
        animation: none;
    }

    nav {
        position: absolute;
        background: var(--hilightFontGradient);
        width: 100%;
        left: -425px;
        border-radius: 0;
        top: 0;
        z-index: 99999;
        transition: all 0.5s linear;
    }

    li.active a {
        color: #fff;
    }

    .mobile {
        background: #fff;
    }

    nav ul li a {
        color: #163031;
    }

    nav ul {
        flex-direction: column;
        align-items: baseline;
        gap: 20px 0px;
        position: relative;
    }

    .logo {
        width: 40%;
    }

    .logo img {
        width: 100%;
    }

    header {
        padding: 20px;
        position: relative;
    }

    .tools .text {
        width: 100%;
    }

    .sectionHeading {
        line-height: 56px;
    }

    .education-experience h2 {
        width: 100%;
    }

    .edu-detail {
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 20px;
        gap: 20px 0px;
    }

    .edu-card .header {
        padding-bottom: 20px;
    }

    .how-it-works {
        flex-direction: column;
        align-items: baseline;
    }

    .how-it-works .leftImage {
        width: 100%;
        height: 400px;
        margin-bottom: 20px;
    }

    .how-it-works .rightText {
        width: 100%;
    }

    .collapse.open {
        height: 149px;
    }

    .clientsReview {
        flex-direction: column;
        align-items: baseline;
    }

    .clientsReview .sectionHeading {
        width: 100%;
        padding-bottom: 20px;
    }

    .clientPhoto {
        flex-direction: column;
        gap: 20px 0px;
        align-items: baseline;
    }

    .rightReviews {
        width: 100%;
        margin-top: 20px;
    }

    .clientName {
        flex-wrap: wrap;
    }

    .circleImage, .circleImage2 {
        display: none;
    }

    .width-60 {
        width: 100%;
    }
    .address .info {
        width: 70%;
    }

    .workingImage img {
        width: 100%;
    }


    /* about us */
    
    .myExperties {
        flex-direction: column;
    }

    .imgDiv {
        width: 344px;
        height: 500px;
        margin-bottom: 20px;
    }

    .textBadge h2, .textBadge p {
        margin: 0;
    }

    .textBadge {
        width: 141px;
        height: 168px;
        right: -18px;
    }
    
    .eXpCard {
        width: 100%;
    }

    .portfolioCards {
        flex-direction: column;
    }

    .imgSlot {
        width: 100%;
        height: 250px;
    }

    .detailContainer {
        flex-direction: column;
        gap: 30px 0px;
    }

    .leftDeailedContainer {
        width: 100%;
        padding: 20px;
    }

    .listContainer h3 {
        font-size: 20px;
    }

    .rightDetailedContainer {
        width: 100%;
    }

    .detailedContainer {
        flex-direction: column;
        gap: 30px 0px;
    }

    .leftDeailedContainerProcess {
        width: 100%;
    }

    .imageContainer {
        height: fit-content;
    }

    .closemenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        background: transparent;
        border: none;
    }

    .closemenu img {
        width: 24px;
    }

    .menuIcon {
        display: block;
    }

    .menuIcon {
        border: none;
        background: transparent;
    }

    .menuIcon, .mobile {
        display: block;
    }

    button.btn-all.downloadCv.desktop {
        display: none;
    }

    .folioMain {
        left: 23.7rem;
        width: 46px;
        gap: 5px 0px;
    }

    .portfolioLinks img {
        width: 24px;
    }
}

@media screen and (max-width: 375px) {
    .imageBeforeCircle {
        display: none;
    }

    .footer .links{
        width: 50px;
        height: 50px;
    }

    .footer .links img {
        width: 24px;
    }

    .folioMain {
        left: 20rem;
    }
}