@media screen and (max-width: 768px) {
    :root {
        --padding: 20px 0px 18px 30px;
        --sectionPadding: 30px;
    }

    .hero-section {
        height: auto;
    }
    
    .contentMain {
        display: grid;
    }
    
    nav img {
        width: 30%;
    }

    .hello {
        font-size: 21px;
    }

    .mainHeading {
        font-size: 40px;
    }

    .runningText {
        font-size: 21px;
        line-height: 32px;
    }

    .myCv, .connectWithMe {
        padding: 10px 13px;
        margin: 20px 8px 0px 0px;
        font-size: 17px;
    }
    
    .circle {
        width: 350px;
        height: 350px;
        left: -6px;
        position: relative;
    }

    .circleDot {
        position: absolute;
        width: 370px;
        height: 370px;
        left: -15px;
    }

    .badgeOne, .badgeTwo, .badgeThree {
        display: none;
    }

    /* .contentMain {
        padding-top: 70px;
    } */

    .hero-section .left-content {
        order: 2;
        margin-top: 30px;
    }

    .hero-section .rightContent {
        order: 1;
    }

    .aboutContainer {
        display: grid;
    }

    .rect {
        width: auto;
        height: 320px;
    }

    .secondRect {
        width: 315px;
        height: 299px;
        bottom: -10px;
        left: -10px;
    }

    .sectionHeading {
        font-size: 25px;
        font-weight: var(--font-600);
        margin: 13px 0px;
    }

    .rightDesign {
        margin-top: 20px;
    }

    .cardTitle {
        font-size: 19px;
        margin: 10px 0px;
    }

    .toolkit {
        gap: 10px;
    }

    .tool {
        width: 43px;
        height: 43px;
    }

    .bottompDot {
        right: 21px !important;
    }

    .company {
        width: 100%;
        height: auto;
        display: grid;
    }

    .leftLogo {
        width: 100%;
        height: 200px;
    }

    .number {
        display: none;
    }

    .projectDetail {
        display: grid;
        height: auto;
        padding: 0;
    }

    .leftContainer {
        width: 100%;
    }

    .logoSection img {
        width: 50%;
    }

    .project-card {
        width: 100%;
        height: auto;
        padding: 20px;
    }

    .innerContent {
        flex-wrap: wrap;
        gap: 15px 0px;
    }

    .socialIcons img {
        width: 32px;
    }

    .letsTalk {
        padding: 10px 20px;
        font-size: 16px;
    }

    .card {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 375px) {
    .CompanyContent {
        padding: 20px 10px;
    }

    .circle {
        width: 100%;
        height: 313px;
    }

    .circleDot {
        width: 340px;
        height: 340px;
        left: -17px;
        top: -14px;
    }
}