* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --padding: 30px 50px;
    --sectionPadding: 50px;
    --whiteColor: #fff;
    --font-400: 400;
    --font-500: 500;
    --font-600: 600;
    --font-700: 700;
    --font-300: 300;
    --headingColor: #212121;
    --background : #0d121d;
    --cardBg: #1C1F25;
}

.hero-section a {
    text-decoration: none;
}

header {
    position: absolute;
    z-index: 9;
    width: 100%;
    padding: var(--padding);
}

ul {
    padding-left: 30px;
}

ul li {
    color: var(--whiteColor);
    font-size: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hero-section {
    width: 100%;
    height: 100vh;
    background-color: var(--background);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: var(--sectionPadding);
}

.circle {
    width: 450px;
    height: 450px;
    background-color: var(--whiteColor);
    border-radius: 50%;
    overflow: hidden;
}

.circleDot {
    position: absolute;
    width: 470px;
    height: 470px;
    background-color: var(--whiteColor);
    border-radius: 50%;
    background-color: transparent;
    border: 2px dashed var(--whiteColor);
    top: -10px;
    left: -10px;
}

.badgeSection {
    position: relative;
}

.badgeOne, .badgeTwo, .badgeThree {
    width: 177px;
    height: 66px;
    border-radius: 6px;
    border: none;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 2px 10px #9f9fa1;
    padding: 10px;
    position: absolute;
}

.badgeOne {
    top: 30px;
    left: -24%;
}

.badgeTwo {
    left: -20%;
    bottom: 10%;
}

.badgeThree {
    bottom: 22%;
    right: 0%;
}

.badgeOne img, .badgeTwo img, .badgeThree img {
    width: 36px;
}

.circle img {
    width: 100%;
}

.contentMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 90px;
}

.topDot, .bottompDot {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #cc2838;
}

.topDot {
    top: 0;
    right: 10%;
}

.bottompDot {
    bottom: -10px;
    left: 60px;
}

.hello {
    color: var(--whiteColor);
    font-size: 28px;
    line-height: 49px;
    font-family: "Pacifico", cursive;
    letter-spacing: .3px;
    font-weight: var(--font-500);
}

.handIcon {
    font-size: 34px;
}

.mainHeading {
    font-size: 72px;
    color: var(--whiteColor);
}

.runningText {
    font-size: 40px;
    color: var(--whiteColor);
    font-weight: var(--font-500);
}

.changeMe {
    color: #DC3545;
}

.myCv, .connectWithMe {
    padding: 16px 30px;
    background-color: #DC3545;
    color: var(--whiteColor);
    border: none;
    border-radius: 7px;
    margin: 30px 8px 0px 0px;
    font-size: 19px;
    cursor: pointer;
}

.connectWithMe {
    background-color: transparent;
    border: 2px solid #DC3545;
}

.myCv:hover {
    background-color: #cc2838;
    transition-duration: .5s;
}

.connectWithMe:hover {
    background-color: #DC3545;
    transition-duration: .5s;
}

p {
    color: #5A5858;
    font-size: 15px;
    font-weight: var(--font-300);
    line-height: 24px;
}

.rightDesign p, .badgeSection p {
    font-weight: var(--font-400);
}

/* about */

.aboutContainer {
    width: 100%;
    height: auto;
    background-color: var(--whiteColor);
    padding: var(--sectionPadding);
    display: flex;
    justify-content: space-between;
    gap: 0px 60px;
}

.rect {
    width: 470px;
    height: 470px;
    border-radius: 40px;
    background-color: #0d121d;
    overflow: hidden;
    position: relative;
    z-index: 99;
}

.secondRect {
    position: absolute;
    width: 456px;
    height: 456px;
    background-color: transparent;
    border: 2px dashed #0d121d;
    border-radius: 40px;
    bottom: -15px;
    left: -15px;
}

.rect img {
    width: 100%;
}

.sectionHeading {
    font-size: 36px;
    color: var(--headingColor);
    font-weight: var(--font-500);
    margin-bottom: 10px;
}

.leftDesign {
    position: relative;
}

.cardTitle {
    font-size: 21px;
    font-weight: var(--font-500);
    line-height: 30px;
    color: var(--headingColor);
    margin: 10px;
}

.toolkit {
    display: flex;
    gap: 15px;
    margin: 10px 0px 0px 0px;
    flex-wrap: wrap;
}

.tool {
    width: 58px;
    height: 58px;
    background-color: var(--whiteColor);
    border-radius: 6px;
    border: 1px solid #dcdddf;
    padding: 8px;
}

.tool img {
    width: 100%;
}

/* services */

.serviceContainer {
    width: 100%;
    background-color: var(--background);
    padding: var(--sectionPadding);
}

.servicesHeading {
    color: #fff;
    margin: 0px 0px 20px 0px;
}

.cards {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.card {
    width: 404px;
    height: 289px;
    border-radius: 12px;
    border: none;
    background-color: #1C1F25;
    text-align: center;
    padding: 20px;
}

.miniCircle {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    box-shadow: 1px 2px 10px #121416;
    padding: 16px;
    margin: auto;
    margin-bottom: 26px;
    background-color: #fff;
}

.miniCircle img {
    width: 100%;
}

.serviceContainer .cardTitle, .serviceContainer p {
    color: #fff;
}

/* exp  */

.ExpContainer {
    width: 100%;
    padding: var(--sectionPadding);
    background-color: var(--whiteColor);
}

.companyDetail {
    position: relative;
    margin-top: 20px;
}

.company {
    width: 100%;
    height: 279px;
    background-color: var(--cardBg);
    border-radius: 22px;
    display: flex;
}

.leftLogo {
    width: 361px;
    height: 279px;
    top: 0;
    left: 0;
    background-color: #0F1624;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CompanyContent {
    padding: 20px;
    line-height: 30px;
}

.companyDetail p {
    color: var(--whiteColor);
}

.companyName {
    color: #fff;
    font-size: 17px;
    font-weight: var(--font-400);
}

.number {
    position: absolute;
    top: 14px;
    font-size: 275px;
    right: 24px;
    color: #fff;
    opacity: .1;
}

.hautIT {
    margin-top: 30px;
}

.hautIT .company {
    background-color: #DC3545;
}

.hautIT .leftLogo {
    background-color: #A3101E;
}

/* projects */

.projectContainer {
    width: 100%;
    padding: var(--sectionPadding);
    background-color: #0F1624;
}

.projectContainer .sectionHeading {
    color: #fff;
}

.projectDetail {
    width: 100%;
    height: 366px;
    border-radius: 22px;
    background-color: var(--whiteColor);
    padding: 20px;
    display: flex;
    gap: 0px 20px;
    margin-top: 30px;
}

.leftContainer {
    width: 394px;
    height: 320px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
}

.leftContainer img {
    width: 100%;
}

.rightContainer {
    padding: 20px;
}

.logoSection {
    border-bottom: 1px solid #b9b9b9;
    margin-bottom: 8px;
}

.logoSection p {
    font-size: 40px;
    font-weight: var(--font-600) !important;
    color: #afafaf;
}

.logoSection {
    display: flex;
    gap: 0px 15px;
    align-items: center; 
    pad: 10px;
}

/* .logoSection img {
    width: 25%;
} */

.projectContainer p {
    font-weight: var(--font-400);
}

.projectContainer li {
    color: #5A5858;
}

.projectContainer a {
    color: #004CCF;
}

.fab32 {
    margin-top: 30px;
}

.personalExpContainer {
    width: 100%;
    padding: var(--sectionPadding);
    background-color: var(--whiteColor);
}

.personalExpContainer p {
    font-weight: var(--font-400);
}

.cards-section {
    display: flex;
    gap: 15px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.project-card {
    width: 404px;
    height: 210px;
    background-color: #cc2838;
    border-radius: 20px;
    border: none;
    padding: 20px;
    text-align: center;
}

.project-card .cardTitle, .project-card p {
    color: #fff;
}

.numberCard {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333A45;
    font-size: 24px;
}

.personalExpContainer a {
    text-decoration: none;
}

/* footer */

.footerContainer {
    width: 100%;
    height: auto;
    padding: var(--sectionPadding);
    background-color: var(--background);
}

.letsTalk {
    background-color: #fff;
    padding: 14px 30px;
    border: none;
    border-radius: 0px;
    font-size: 17px;
    cursor: pointer;
}

.socialIcons img {
    width: 48px;
    margin: 0px 5px;
}

.socialIcons a {
    text-decoration: none;
}

.innerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}