.home-container {
    width: 100%;
    height: auto;
    background-color: #2c2d30;
}

.left-container {
    width: 70%;
}

.right-container {
    width: 27%;
    box-shadow: 3px 3px 3px #202125, -3px -3px 3px #353535;
    text-align: center;
    padding: 48px 24px;
    background-color: #2c2d30;
    border-radius: 32px;
}

.main-content {
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.left-container {
    box-shadow: 3px 3px 3px #202125, -3px -3px 3px #353535;
    border-radius: 32px;
    background-color: #2c2d30;
    padding: 40px;
    height: auto;
    max-height: 700px;
    overflow: auto;
}

@media screen and (max-width: 768px) {
    .main-content {
        flex-direction: column;
        gap: 30px;
        padding: 20px;
    }

    .right-container {
        width: 100%;
        order: 1;
        padding: 30px 24px !important;
    }

    .left-container {
        width: 100%;
        order: 2;
        padding: 30px 20px;
        height: auto;
        max-height: max-content;
        display: block;
    }

    .resume-services {
        margin-bottom: 20px;
    }

    .home-container {
        height: auto;
    }
}